*, *::before, *::after{
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
}

h3{
    margin-left: 50%;
    size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h4{
    margin-left: 100px;
    size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

time{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 100px;
}

p{
    font-family: "Segoe UI";
    margin-left: 100px;
}