<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlogPost</title>

    <link rel="stylesheet" th:href="@{/CSS/blogpost.css}">
</head>
<body>
    <article>
        <h3 th:text="${blogpost.title}">TITOLO</h3>
        <time><em th:text="${blogpost.date}">DATA</em></time>
        <p th:text="${blogpost.text}">TESTO</p>
    </article><br>
</body>
</html>