<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlogPost</title>

    <!-- <link rel="stylesheet" th:href="@{/CSS/blogpost.css}"> -->
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body class="my-3 bg-light">
    <div class="container">

        <div th:insert="~{master-page :: BP-header}"></div>

        <div th:insert="~{master-page :: BP-navbar}"></div>


        <article>
            <h2 class="title text-center" th:text="${blogpost.getTitle()}">TITOLO</h2>
            <h5 class = "row" th:text="${blogpost.getAuthor().getUsername()}">USERNAME</h5>
            <p class = "font-italic row" th:text="${blogpost.getCategory().getName()}">CATEGORIA</p>
            <time class = "row"><em th:text="${blogpost.date}">DATA</em></time>
            <h5 class="row mt-5 mb-3 text"  th:text="${blogpost.text}">TESTO</h5>
            <a class="btn btn-warning" type="button" th:href="@{'/blog/'+ ${blogpost.id} +'/edit'}" sec:authorize="isAuthenticated()">Edit</a>
            <a class="btn btn-danger" type="button" th:href="@{'/blog/' + ${blogpost.id} +'/delete'}" sec:authorize="hasRole('ROLE_ADMIN')" >Delete</a>
        </article>

        <div class="mt-4">
            <article class="border border-secondary mb-1" th:each="comment : ${comments}">
                <div class="row">
                    <h4 class="col" th:text="${comment.getAuthor().getUsername()}">AUTORE COMMENTO</h4>
                    <h6 class="col"  th:text="${comment.getDate().toString()}">DATA COMMENTO</h6>
                </div>
                <p th:text="${comment.getText()}">COMMENTO</p>
                <div>
                    <a type="button" sec:authorize="isAuthenticated()" th:href="@{'/comment/'+${comment.getID()}}" >RISPONDI AL COMMENTO</a>
                </div>


            </article>
        </div>

        <div class="row">
            <a type="button" th:href="@{'/blog/'+${blogpost.id}+'/comment'}" sec:authorize="isAuthenticated()" class="col-md-2 offset-md-5 btn btn-primary">Comment</a>
        </div>

        <div th:insert="~{master-page :: BP-footer}"></div>
    </div>
</body>
</html>