<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Brian Pulfer">
    <meta name="description" content="Pagina per la creazione dei BlogPost">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Blogpost</title>

    <!-- <link rel="stylesheet" th:href="@{/CSS/form.css}"> -->
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body class="my-3 bg-light">
    <div class="container">
        <div th:insert="~{master-page :: BP-header}"></div>

        <div th:insert="~{master-page :: BP-navbar}"></div>

        <form th:action="@{/blog/new}" th:object="${blogPost}" method="post">
            <p class="text ml-10% font-weight-bold mb-0">Title:</p>
            <input class="form-control mt-0 mb-3" placeholder="Title" name="bptitle" th:field="*{title}">

            <p class="text ml-10% mb-0 font-weight-bold">Author:</p>

            <!-- Funzionava con th:value="${u.id}" -->
            <select class="mt-0 mb-3 custom-select" name="bpauthor" th:field="*{author}">
                <option th:text="${blogPost.author.username}" th:value="${blogPost.author.id}">NOME DEL AUTORE</option>
            </select>

            <p class="text ml-10% mb-0 font-weight-bold">Category:</p>
            <select class="mt-0 mb-3 custom-select" th:field="*{category}">
                    <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}">NOME DELLA CATEGORIA</option>
            </select>

            <p class="text ml-10% mb-0 font-weight-bold">Text:</p>
            <textarea class="form-control mt-0 mb-3" placeholder="Text..." rows="10" th:field="*{text}"></textarea>

            <input type = "submit" class="btn btn-success" value="Post"/>
        </form>

        <div th:insert="~{master-page :: BP-footer}"></div>
    </div>
</body>
</html>