<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Master Page</title>
</head>
<body class="my-3 bg-light">
    <div class="container">

        <!-- HEADER -->
        <header class="row" th:fragment = "BP-header">
            <div class="col text-center my-3">
                <img width="30%" th:src="@{/Pictures/logo.png}" alt="logo" th:href="@{/}">
            </div>
        </header>


        <!-- NAV BAR -->
        <nav class="text-center navbar navbar-expand-lg navbar-light bg-light mb-5" th:fragment="BP-navbar">
            <a class=" nav-link font-weight-bold" th:href="@{/}">Home</a>
            <a class=" nav-link font-weight-bold" th:href="@{/blog/new}" sec:authorize="isAuthenticated()">New Post</a>
            <a class=" nav-link font-weight-bold" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>
            <a class=" nav-link font-weight-bold" th:href="@{/register}" sec:authorize="!isAuthenticated()">Register</a>
            <a class=" nav-link font-weight-bold" th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a>
            <p class=" nav-link offset-sm-6" sec:authorize="isAuthenticated()">You're logged in as <b sec:authentication="name">NOME UTENTE</b> </p>
        </nav>

        <!-- FOOTER -->
        <footer class="modal-footer" th:fragment="BP-footer">Copyleft CC-by 2018 by Brian</footer>

    </div>
</body>
</html>